#pragma code_page(65001)  // UTF-8

#include <windows.h>

#include <config.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VERSION_BIN
PRODUCTVERSION  VERSION_BIN
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"  // en_US.UTF-8
        {
            VALUE "CompanyName",      AUTHOR_STR
            VALUE "FileDescription",  NAME_STR
            VALUE "FileVersion",      VERSION_STR
            VALUE "InternalName",     NAME_STR
            VALUE "LegalCopyright",   COPYRIGHT_STR
            VALUE "OriginalFilename", "miniplaner.exe"
            VALUE "ProductName",      NAME_STR
            VALUE "ProductVersion",   VERSION_STR
        }
    }

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0,  // en_US.UTF-8
                             0x0407, 0x04B0   // de_DE.UTF-8
    }
}
